/* ------------Navegação------------ */

nav{
    margin-bottom: 50px;
}

nav div{
    display: flex;
    flex-direction: row;
    height: 40px;
    background-color: white;
    text-align: center;
    color: black;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    top: 0;
}

nav a{
    text-decoration: none;
    padding: 0 8px;
    color: black;
}

nav img{
    width: 100%;
}

h2{
    text-align: center;
    font-size: 65px;
    padding: 40px 0;
}

/* ------------Sobre------------ */

main .sobre{
    display: flex;
    flex-direction: row;
    max-width: 100%;
    justify-content: center;
    padding: 40px 0;
    align-items: center;
}

main .sobre .imagem-sobre{
    width: 50%;
    text-align: center;
}

main .sobre .imagem-sobre img{
    width: 100%;
}

main .sobre .info-sobre{
    display: flex;
    flex-direction: column;
    max-width: 50%;
    padding: 5%;
    font-size: 10%;
}

/* ------------Lançamentos------------ */

main .lancamentos, main .concluidos{
    display: flex;
    flex-flow: row wrap;
    margin: 50px 0;
    justify-content: space-around;
}

main .lancamentos div{
    margin-bottom: 15px;
}

main .lancamentos div img{
    width: 100%;
}

/* ------------Concluídos------------ */

main .concluidos .image1{
    padding: 2px;
}

main .concluidos .image1 img{
    width: 600px;
    height: 400px;
}

/* ------------Contato------------ */

footer{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin-bottom: 100px;
}

footer .formulario{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding: 0 25%;
    margin: 10px 0;
}

footer .formulario input{
    margin: 6px 0;
    padding: 4px;
    display: table-cell;
    vertical-align: top;
}

footer .formulario textarea{
    height: 150px;
    padding: 4px;
    resize: none;
    margin-bottom: 6px;
}

button, input, textarea{
    border-radius: 5px;
    border: 1px solid black;
}

/* #------------media-queries------------# */

@media (max-width: 900px){

    nav a{
        font-size: 14px;
        padding: 0 4px;
        color: black;
    }

    main .sobre{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        padding: 40px 0;
    }

    main .sobre .imagem-sobre{
        width: 100%;
    }
    
    main .sobre .info-sobre{
        display: flex;
        flex-direction: column;
        max-width: 100%;
        padding: 5%;
        font-size: 10%;
    }

    main .concluidos .image1 img{
        width: 100%;
    }

    footer .formulario{
        padding: 0 10%;
    }

    h2{
        font-size: 35px;
    }

    p{
        font-size: 16px;
    }


}